# Basic of python
## Various data types in python  
- '#' is used to write comments

In [2]:
#Variable assignment 
first_name ="Shiksha"
last_name ="Jha"
print("My first name is {} and last name is {}." .format(first_name,last_name))
print("My first name is {last} and last name is {first}." .format(first=first_name, last=last_name))

My first name is Shiksha and last name is Jha.
My first name is Jha and last name is Shiksha.

In [3]:
#Length of the character 
len("shiksha")

7

In [4]:
#Type function
print(type("shiksha"))
print(type(7))
print(type(0.5))
print(type(True))
print(type([1,2,5,6,0.5]))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'list'>

In [5]:
#Arthemetic operations 
print(2+7)
print(5*9)
print(5**8)
print(25/5)
print(96-5)

9
45
390625
5.0
91

In [6]:
#Boolean variable 
my_str='Shiksha123'

print(my_str .isalnum())         #all characters are either alphabet or numbers
print(my_str .isalpha())         #all are alphabet
print(my_str .isdigit())         #all are digits
print(my_str .istitle())         #word start with upper case and remaining is lowercase
print(my_str .isupper())         #all letters are in uppercase
print(my_str .islower())         #all letters are in lowercase 
print(my_str .isspace())         #all characters are spacing character
print(my_str .endswith('3'))     #ends with 3
print(my_str .startswith('S'))   #ends with S

True
False
False
True
False
False
False
True
True

In [7]:
#Boolean and logical operators
print (bool(my_str .isalpha or my_str .isalnum))


# True and True = True
# True and False = False 
# True or False = True 
# True or True = True

True